// Colors
$background-color: #FFFBF5;
$dark-green: #063412;
$trust-pilot-green: #00CC82;
$lime-green: #C2FF96;
$light-teal: #C1F3D9;
$teal: #1D6367;
$dark-green-gradient: linear-gradient(to bottom right, #063412, #1E7255);
$dark-green-gradient-hover: linear-gradient(to bottom right, #052d10, #217b5b);
$light-shadow: 0px 0px 16px 0px rgba(black, 0.04);
$medium-shadow: 0px 0px 16px rgba(black, 0.08);
$double-shadow: 0px 8px 28px -6px rgba(0, 0, 0, 0.04), 0px 18px 88px -4px rgba(0, 0, 0, 0.08);

// Dimensions
$container-width: 1100px;